<h3>TOURNAMENT CHAMPION 2021</h3>
<h4>Di tahun 2020 kemarin ada banyak tournament dari berbagai macam Game dari Game Dota 2
    PUBG Mobile dan lainya ,momen tournamen tentu jadi yang akan ditunggu-tunggu,
    makan ditahun 2021 kami akan mengadakan kembali Toutnament untuk melihat keseruan pertarungan para 
    pro player, Lalu sudahkah kamu mengetahui apa saja turnamen yang bakal
    diselenggarakan sepanjang tahun 2021 ini? Biar gak ketinggalan, berikut rangkumannya.

        <h4>Jadwal: 21-26 Januari 2021
        Pemenang: Ti
        Prize pool: $40,000,000 (Rp562 miliar)
        The International Dota 2 Spring Split 2021: Indonesia
        PUBG Mobile Club Open jadi tempatnya tim-tim semi-pro buat step up ke level profesional. Kompetisi ini diadakan di berbagai regional di dunia, dengan pesertanya terkualifikasi lewat turnamen lokal atau mendapat direct invite.

        Jadwal: 17-21 Februari 2021
        Pemenang: Genesis Dogma GIDS
        Prize pool: $30.000 (Rp433 juta)
        PEL (Peacekeeper Elite League) 2021 Season 1
        PEL adalah liga resmi profesional di Tiongkok untuk game Peacekeeper Elite, yaitu versi China dari PUBG Mobile.

        Jadwal: 11 Maret – 18 April 2021
        Pemenang: Team Weibo
        Prize pool: $2.024.260 (Rp29,2 miliar)</h4>

</h4>
